/* style.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Set the height of the body and html to fill the screen */
}

#container {
    display: flex;
    height: 100%; /* Set the height of the container to fill the screen */
}

#filters {
    width: 200px;
    padding: 0 10px;
    border-right: 1px solid #ccc;
    height: 100%; /* Full height of the parent */
    display: flex;
    flex-direction: column;
}

.filter-section {
    flex: 1; /* Distributes space evenly among filter sections */
    display: flex;
    flex-direction: column;
    min-height: 0; /* Prevents overflow */
}

.filter-section h2, .filter-section input, .filter-section button {
    flex-shrink: 0; /* Prevents headers, inputs, and buttons from shrinking */
}

.scrollable-filter-container {
    overflow-y: auto;
    flex-grow: 1; /* Allows this container to fill up remaining space */
    flex-shrink: 1; /* Allows shrinking if needed */
    min-height: 0; /* Allows for proper scrolling in flex containers */
}

#books {
    flex-grow: 1;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    max-height: 100%; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.book {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
}

.book img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}

.book span {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
    body, html {
        font-size: 26px;
    }
    #filters {
        width: 300px;
    }
}